button{
  background: lightgreen;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

fab-speed-dial{
  display: block;
  text-align: center;
  margin-top: 200px;
}
